# torch>=2.0.0
# transformer-lens>=2.0.0  # Includes transformers as dependency
# tqdm>=4.60.0
# matplotlib>=3.5.0
# pronouncing>=0.2.0


# NEW (use torch 218 if on GH200)
torch>=2.0.0
transformers>=4.41.0
accelerate>=0.30.0
safetensors>=0.4.3
tqdm>=4.66.0
matplotlib>=3.8.0
pronouncing>=0.2.0
